* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-body {
    width: 400px;
    height: 600px;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    box-shadow:
    1.6px 1.6px 3px rgba(0, 0, 0, 0.009),
    4.1px 4.1px 7.6px rgba(0, 0, 0, 0.013),
    8.3px 8.3px 15.4px rgba(0, 0, 0, 0.017),
    17.2px 17.2px 31.8px rgba(0, 0, 0, 0.021),
    47px 47px 87px rgba(0, 0, 0, 0.03); 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
}

.cal-h {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.cal-f {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    font-size: 2rem;
    background-color: lightgray;
    border-radius: 0 0 1rem 1rem;
}

p {
    height: 100%;
    width: 100%;
    background-color: grey;
    color: white;
    border: 1px solid grey;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow:
    1.6px 1.6px 3px rgba(0, 0, 0, 0.009),
    4.1px 4.1px 7.6px rgba(0, 0, 0, 0.013),
    8.3px 8.3px 15.4px rgba(0, 0, 0, 0.017),
    17.2px 17.2px 31.8px rgba(0, 0, 0, 0.021),
    47px 47px 87px rgba(0, 0, 0, 0.03); 
}

p:active {
    transform: scale(0.96);
}

.special-keys {
    background-color: orange;
    border: orange;
}

#equal {
    grid-column: 3 / span 2;
    grid-row: 4;
}